name: CI
on:
  push:
      paths-ignore:
        - 'README.md'
      branches:
        - main
  pull_request:
      paths-ignore:
        - 'README.md'
      branches:
        - main
jobs:
  test:
    name: Julia ${{ matrix.version }} - ${{ matrix.os }} - ${{ matrix.arch }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        version:
          - '1'
          - 'min'
          - 'nightly'
        os:
          - ubuntu-latest
        arch:
          - x64
          # - x86
    steps:
      - uses: actions/checkout@v6
      - uses: julia-actions/setup-julia@v2
        with:
          version: ${{ matrix.version }}
          arch: ${{ matrix.arch }}
      - name: Cache
        uses: julia-actions/cache@v2
        with:
            cache-compiled: "true"
      - uses: julia-actions/julia-buildpkg@v1
      - uses: julia-actions/julia-runtest@v1
      - uses: julia-actions/julia-processcoverage@v1
      - uses: codecov/codecov-action@671740ac38dd9b0130fbe1cec585b89eea48d3de # v5.5.2
        with:
          files: lcov.info
          token: ${{ secrets.CODECOV_TOKEN }}
