name: YASG-enforcer
on:
  push:
    branches:
      - 'main'
    tags: '*'
  pull_request:
    types: [opened, synchronize, reopened, ready_for_review]
    # note: keep in sync with `format/run.jl`
    paths:
      - 'src/**'
      - 'test/**'
      - 'docs/**'
      - 'ext/**'
      - '.github/workflows/YASG.yml'
      - 'format/**'
jobs:
  format-check:
    name: YASG Enforcement (Julia ${{ matrix.julia-version }})
    # Run on push's or non-draft PRs
    if: (github.event_name == 'push') || (github.event.pull_request.draft == false)
    runs-on: ubuntu-latest
    strategy:
      matrix:
        julia-version: [1.9]
    steps:
      - uses: julia-actions/setup-julia@latest
        with:
          version: ${{ matrix.julia-version }}
      - uses: actions/checkout@v6
      - name: Cache
        uses: julia-actions/cache@v2
        with:
            cache-compiled: "true"
      - name: Instantiate `format` environment and format
        run: |
          julia --project=format -O0 -e 'using Pkg; Pkg.instantiate()'
          julia --project=format -O0 'format/run.jl'
      - uses: reviewdog/action-suggester@v1
        if: github.event_name == 'pull_request'
        with:
          tool_name: JuliaFormatter
          fail_on_error: true
